.headerPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-around;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
  width: 25%;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  height: 260px;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
  display: flex;
  width: 31.3%;
  margin: 1%;
}

.videoSobre .container {
  display: flex;
}

.videoSobre-sobre {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 24px;
}

.videoSobre-video {
  flex-grow: 2;
  flex-shrink: 2;
}

.videoSobre-sobre-list {
  flex-grow: 2;
}

/* RESPONSIVE SECTION HERE */

@media(max-width: 600px) {
  
  .headerPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }
  
  .headerPrincipal-nav {
    flex-direction: column;
  }
  
  .headerPrincipal-nav-link-app {
      order: -1;
  
  }
  
  .videoSobre .container {
    flex-direction: column;
  }

}




